<footer>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <a class="logo_footer" href="index.html"><img src="/assets/images/tinlion_logo_3.png" alt="#" /></a>
                </div>
                <div class="col-md-9">
                    <form class="newslatter_form">
                        <input class="ente" placeholder="Enter your email" type="text" name="Enter your email">
                        <button class="subs_btn">Subscribe Now</button>
                    </form>
                </div>
                <div class="col-md-2 col-sm-6"
                >
                    <div class="Informa helpful">
                        <h3>Useful  Link</h3>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="about.html">About</a></li>
                            <li><a href="we_do.html">What we do</a></li>
                            <li><a href="portfolio.html">Portfolio</a></li>
                            <li><a href="contact.html">Contact us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="Informa">
                        <h3>News</h3>
                        <ul>
                            <li>It is a long established
                            </li>
                            <li>fact that a reader will
                            </li>
                            <li>be distracted by the
                            </li>
                            <li>readable content of a
                            </li>
                            <li>page when
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="Informa">
                        <h3>company</h3>
                        <ul>
                            <li>It is a long established
                            </li>
                            <li>fact that a reader will
                            </li>
                            <li>be distracted by the
                            </li>
                            <li>readable content of a
                            </li>
                            <li>page when
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="Informa conta">
                        <h3>contact Kamm</h3>
                        <ul>
                            <li> <a href="Javascript:void(0)"> <i class="fa fa-map-marker" aria-hidden="true"></i> Location
                            </a>
                            </li>
                            <li> <a href="Javascript:void(0)"><i class="fa fa-phone" aria-hidden="true"></i> Call +01 5879179080
                            </a>
                            </li>
                            <li> <a href="Javascript:void(0)"> <i class="fa fa-envelope" aria-hidden="true"></i> kammryn.dancy@gmail.com
                            </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright text_align_left">
            <div class="container">
                <div class="row d_flex">
                    <div class="col-md-6">
                        <p>© 2023 All Rights Unreserved.  <a href="secret_page"> Look what you found</a></p>
                    </div>
                    <div class="col-md-6">
                        <ul class="social_icon text_align_center">
                            <li> <a href="https://www.linkedin.com/in/kammryn-dancy-560695a4/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                            <li> <a href="https://www.youtube.com/@TinLionBrewing"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                            <li> <a href="https://www.pinterest.com/kdanc341"><i class="fa fa-pinterest-square" aria-hidden="true"></i></a></li>
                            <li> <a href="https://share.brewfather.app/xOXpBufLk9Xcxi"><i class="fa fa-beer" aria-hidden="true"></i></a></li>
                            <li> <a href="Javascript:void(0)"><i class="fa fa-umbrella" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
