<footer id="colophon" class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-6">
                <a class="site-title" routerLink="/home"><span>Kammryn</span>Dancy</a>
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when the content is exceptionally written.</p>
                <p>This is not an example of such facts.</p>
            </div>
            <div class="col-lg-offset-4 col-md-3 col-sm-4 col-md-offset-2 col-sm-offset-0 col-xs-6 ">
                <h3>Keep in touch</h3>
                <ul class="list-unstyled contact-links">
                    <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:kammryn.dancy@gmail.com">kammryn.dancy@gmail.com</a></li>
                    <li><i class="fa fa-phone" aria-hidden="true"></i><a href="tel:+15879179080">+01 (587) 917 9080 </a></li>
                    <li><i class="fa fa-map-marker" aria-hidden="true"></i><p>Calgary, Canada</p></li>
                </ul>
            </div>
            <div class="clearfix visible-xs"></div>
            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                <h3>Featured links</h3>
                <ul class="list-unstyled">
                    <li routerLink="/home" routerLinkActive="active"><a href="index.html">Home</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="portfolio.html">Porfolio</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-xs-8">
                    <div class="social-links">
                        <a class="linkedin-bg" href="https://www.linkedin.com/in/kammryn-dancy-560695a4/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        <a class="youtube" href="https://www.youtube.com/@TinLionBrewing"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                        <a class="pinterest" href="https://www.pinterest.com/kdanc341"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                        <a class="beer" href="https://share.brewfather.app/xOXpBufLk9Xcxi"><i class="fa fa-beer" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="text-right">
                        <p>© 2023 All Rights Unreserved.  <a href="secret_page"> Look what you found</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.copyright -->
</footer>
