/*---------------------------------------------------------------------
File Name: style.scss
---------------------------------------------------------------------*/
$color_1: #666666;
$color_2: #1f1f1f;
$color_3: #111111;
$color_4: #212121;
$color_5: #222222;
$color_6: #767676;
$color_7: #323232;
$color_8: #fff;
$color_9: #000;
$color_10: #292929;
$color_11: #000000;
$color_12: #3a404e;
$color_13: #0c0c0d;
$color_14: #031330;
$color_15: #888888;
$color_16: #000b0a;
$color_17: #757575;
$color_18: #151515;
$color_19: #ffffff;
$color_20: #bdbdbe;
$font-family_1: 'Poppins', sans-serif;
$font-family_2: 'Open Sans', sans-serif;
$background-color_1: transparent;
$background-color_2: #323232;
$background-color_3: #464646c7;
$border-color_1: #ffffff;

/** banner_main **/
#top_section {
  background-image: url('/assets/images/green-forest.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 120px;
  position: relative;
  height: 100vh;
  background-position: center;
}
#myCarousel {
  .carousel-indicators {
    bottom: -50px;
    margin-left: 11px;
    right: inherit;
    .active {
      background: #0e0b01;
    }
    li {
      cursor: pointer;
      background: #fff;
      border-radius: 40px;
      width: 22px;
      height: 22px;
    }
  }
  a.carousel-control-next {
    display: none;
  }
  a.carousel-control-prev {
    display: none;
  }
}
.relative {
  position: inherit;
  bottom: 0;
  padding: 0;
}
.bluid {
  margin-top: 10px;
  font-family: $font-family_2;
  text-align: left;
}
.banner_main {
  .bluid {
    h1 {
      color: $color_8;
      font-size: 100px;
      line-height: 110px;
      font-weight: bold;
      padding-bottom: 25px;
    }
    p {
      color: $color_8;
      line-height: 25px;
      font-weight: 500;
      padding-bottom: 50px;
      font-size: 17px;
    }
    .read_more {
      margin-right: 8px;
      background: #fff;
      color: $color_9;
      &:hover {
        color: $color_8;
        background: #0e0b01;
      }
    }
  }
}
