<div class="brewing-page">
  <landing 
    greeting="Welcome to the Brewery" 
    message="Explore my homebrewing adventures and recipes" 
    noticeButton="Request a Brew" 
    (noticeButtonClick)="openBrewModal()"
    imageId="/assets/images/landings/larch_valley.jpg"
  />

  <div *ngIf="showBrewModal" class="modal-overlay">
    <div class="modal-content">
      <button class="modal-close" (click)="closeBrewModal()">&times;</button>
      <brew-request-form (formSuccess)="onFormSuccess()"></brew-request-form>
    </div>
  </div>

  <div class="recipes-container">
    <ng-container *ngFor="let recipe of paginatedRecipes">
      <app-beer-recipe
        [name]="recipe.name"
        [youtubeUrl]="recipe.youtubeUrl || null"
        [imageUrl]="recipe.imageUrl || ''"
        [malts]="recipe.malts"
        [hops]="recipe.hops"
        [yeast]="recipe.yeast"
        [adjuncts]="recipe.adjuncts || []"
        [abv]="recipe.abv"
        [og]="recipe.og"
        [fg]="recipe.fg"
        [srm]="recipe.srm"
        [ibu]="recipe.ibu"
        [buGu]="recipe.buGu"
        [description]="recipe.description"
        [awards]="recipe.awards || []"
      ></app-beer-recipe>
    </ng-container>
    <div class="pagination" *ngIf="totalPages > 1">
      <button (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1">Previous</button>
      <span *ngFor="let page of [].constructor(totalPages); let idx = index">
        <button (click)="goToPage(idx + 1)" [class.active]="currentPage === idx + 1">{{ idx + 1 }}</button>
      </span>
      <button (click)="goToPage(currentPage + 1)" [disabled]="currentPage === totalPages">Next</button>
    </div>
  </div>

  <footerComp/>
</div>
