<section class="site-section section-features">
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <h2>TinLion more than a name</h2>
        <p>These two little dudes are Tintin and Lionel our first two fur babies, and are the source of the TinLion name. A title I use as an umbrella which all my products fall under. The TinLion logo was designed thinking of our Tin man and Lion from the Land of Oz.</p>
      </div>
      <div class="col-sm-7 hidden-xs">
        <img src="assets/images/tintin_lionel.jpg" alt="">
      </div>
    </div>
  </div>
</section>
