<div class="wrapper">
  <h1 class="title">Kammryn Dancy</h1>
  <nav>
    <a routerLink="/brewing" routerLinkActive="active" ariaCurrentWhenActive="page">TinLion Brewing</a>
    <a routerLink="/woodwork" routerLinkActive="active" ariaCurrentWhenActive="page">Woodworking</a>
    <a routerLink="/whiskey" routerLinkActive="active" ariaCurrentWhenActive="page">Whiskey</a>
    <a routerLink="/roaster" routerLinkActive="active" ariaCurrentWhenActive="page">TinLion Roastery</a>
    <a [routerLink]="[{ outlets: { popup: ['compose'] } }]">Contact</a>
  </nav>
  <div [@routeAnimation]="getRouteAnimationData()">
    <router-outlet></router-outlet>
  </div>
  <router-outlet name="popup"></router-outlet>
</div>
