@import '../styles/shared';

/* HEADER
================================================== */

.site-header {
  position: absolute;
  padding: 50px 0 0;
  background: transparent;
  width: 100%;
  z-index: 3;
}

.site-title {
  font-size: 18px;
  line-height: 26px;
  color: $white;
  
  &:hover { color: $primary-light; }
  span { font-weight: 700; }
  a:hover { color: $white; }
}

.navbar {
  &-collapse {
    text-align: center;
    a:hover {
      background: transparent;
      color: $primary-light;
    }
  }
  
  &-nav {
    float: none;
    display: inline-block;
    
    > li {
      > a {
        padding: 0;
        font-size: 16px;
        color: $white;
        line-height: 26px;
        
        i { margin-left: 5px; }
        &:hover, &:focus {
          background: transparent;
          color: $primary-light;
        }
      }
      + li { margin-left: 30px; }
      &.active > a {
        background: transparent;
        color: $primary-light;
      }
      &.dark > a { color: $primary-dark; }
    }
    
    .dropdown-menu {
      display: block;
      opacity: 0;
      visibility: hidden;
      border-radius: 0;
      min-width: 130px;
      border: 0;
      border-top: 5px solid $primary-light;
      top: 140%;
      transition: all 0.4s;
      
      &:hover, &.show {
        opacity: 1;
        visibility: visible;
        top: 100%;
      }
      
      a {
        padding: 5px 15px;
        position: relative;
        left: 0;
        
        &:hover {
          background: transparent;
          color: $primary-light;
          left: 15px;
        }
      }
    }
  }
  
  &-toggle {
    border-color: $white;
    margin: 0 15px 0 0;
    position: relative;
    top: -1px;
    
    &:hover, &[aria-expanded=true] {
      background: $white;
      border-color: $black;
      cursor: pointer;
      
      .icon-bar { background: $black; }
    }
    
    .icon-bar { background: $white; }
  }
}
