<section class="site-section section-map-feature text-center">

  <div class="container">
    <h2>Products Completed</h2>
    <p>TinLion Industries is always churning out product, ask nicely and you might get some.</p>
    <a href="#" class="btn btn-fill">Learn More</a>
    <div class="row">
      <div class="col-sm-3 col-xs-6">
        <div class="counter-item">
          <p class="counter" data-to="377" data-speed="2000">14</p>
          <h3>Roasts</h3>
        </div><!-- /.counter-item -->
      </div>
      <div class="col-sm-3 col-xs-6">
        <div class="counter-item">
          <p class="counter" data-to="1204" data-speed="2000">31</p>
          <h3>Brews Completed</h3>
        </div> <!-- /.counter-item -->
      </div>
      <div class="col-sm-3 col-xs-6">
        <div class="counter-item">
          <p class="counter" data-to="459" data-speed="1000">620</p>
          <h3>Litres of Beer</h3>
        </div><!-- /.counter-item -->
      </div>
      <div class="col-sm-3 col-xs-6">
        <div class="counter-item">
          <p class="counter" data-to="675" data-speed="1000">140</p>
          <h3>Cups of Coffee</h3>
        </div><!-- /.counter-item -->
      </div>
    </div>
  </div>

</section>
