<section class="site-section section-services gray-bg text-center">
  <div class="container">
    <h2 class="heading-separator">Serial Hobbying</h2>
    <p class="subheading-text">Roasting monday, Editing wednesday, DnD thursday, Brewing saturday, Shuffle, Repeat</p>
    <div class="row">
      <div class="col-md-3 col-xs-6">
        <div class="service">
          <img src="/assets/images/anchor.svg" alt="">
          <h3 class="service-title">Brewing</h3>
          <p class="service-info"> TinLion Brewing has been going strong for 5 years producing a variety of ales and lagers to make those hot summers and cold winters palatable.</p>
        </div><!-- /.service -->
      </div>
      <div class="col-md-3 col-xs-6">
        <div class="service tinlion">
          <img src="/assets/images/tinlion.svg" alt="">
          <h3 class="service-title">Design</h3>
          <p class="service-info">If you have lots of bottles of homebrew they need labels right.</p>
        </div><!-- /.service -->
      </div>
      <div class="col-md-3 col-xs-6">
        <div class="service">
          <img src="/assets/images/paper-plane.svg" alt="">
          <h3 class="service-title">Coffee Roasting</h3>
          <p class="service-info">TinLion Roasting has been evolving for two years producing the finest cups of coffee.</p>
        </div><!-- /.service -->
      </div>
      <div class="col-md-3 col-xs-6">
        <div class="service">
          <img src="/assets/images/photo.svg" alt="">
          <h3 class="service-title">Video Editing</h3>
          <p class="service-info">TinLion Brewing has videos on youtube documenting the process of making each beer.</p>
        </div><!-- /.service -->
      </div>
      <div class="col-md-3 col-xs-6">
        <div class="service">
          <img src="/assets/images/microphone.svg" alt="">
          <h3 class="service-title">Dungeons & Dragons</h3>
          <p class="service-info">The DM demands sacrifice, roll for initiative.</p>
        </div><!-- /.service -->
      </div>
      <div class="col-md-3 col-xs-6">
        <div class="service">
          <img src="/assets/images/rocket.svg" alt="">
          <h3 class="service-title">Comics</h3>
          <p class="service-info">Batman is the best but Spawn comes in a close second.</p>
        </div><!-- /.service -->
      </div>
      <div class="col-md-3 col-xs-6">
        <div class="service">
          <img src="/assets/images/basket.svg" alt="">
          <h3 class="service-title">Woodworking</h3>
          <p class="service-info">Lots of projects, ask me how many times I've injured myself.</p>
        </div><!-- /.service -->
      </div>
      <div class="col-md-3 col-xs-6">
        <div class="service">
          <img src="/assets/images/chemestry.svg" alt="">
          <h3 class="service-title">Coding</h3>
          <p class="service-info">Not so much a hobby but a career.</p>
        </div><!-- /.service -->
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-3 col-xs-6">
        <div class="service">
          <img src="/assets/images/chemestry.svg" alt="">
          <h3 class="service-title">Spirits</h3>
          <p class="service-info">TinLion industries has produced a whole line of spirits for sipping on.</p>
        </div><!-- /.service -->
      </div>
      <div class="col-md-3 col-xs-6">
        <div class="service">
          <img src="/assets/images/chemestry.svg" alt="">
          <h3 class="service-title">Pets</h3>
          <p class="service-info">The furry felines and canine of the TinLion family include Tintin, Lionel, and Alfie.</p>
        </div><!-- /.service -->
      </div>
      <div class="col-md-3 col-xs-6">
        <div class="service">
          <img src="/assets/images/chemestry.svg" alt="">
          <h3 class="service-title">Plants</h3>
          <p class="service-info">These chlorophyll advantaged beings are slowly taking over.</p>
        </div><!-- /.service -->
      </div>
      <div class="col-md-1 col-xs-6"></div>
    </div>
  </div>
</section>
